/* low res Laptop */

@media screen and (max-width:1250px){
    h1 {
        font-size: 2rem;
    }
    #mark h1 {
        font-size: 20rem;
    }
    .project-card {
        margin: 1rem;
    }
    .project-card img {
        max-height: 25rem;
        max-width: 15rem;
    }
    .social-icons {
        width: 40%;
    }
}

/* tablet */

@media screen and (max-width:790px) {
    body {
        padding: 0 1rem;
    }
    #Home {
        align-items: flex-start;
        margin: 5rem 0;
    }
    #mark h1 {
        font-size: 15rem;
    }
    #Projects {
        padding: 0;
    }
    .contact-btn {
        width: 35%;
    }
}

/* Mobile */

@media screen and (max-width:650px){
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1rem;
    }
    header {
        height: 20vh;
        flex-direction: column-reverse;
    }
    nav {
        width: 90%;
    }
    #mark {
        display: none;
    }
    .social-icons {
        width: 90%;
    }
    .more-btn-pattern {
        margin: 3rem 0;
    }
    .work-with-me {
        width: 100%;
        padding: 0;
    }
    #hero {
        line-height: 35px;
    }
}

/* low res Moblie */

@media screen and (max-width: 365px) {
    h1 {
        font-size: 1.5rem;
    }
    #Home {
        flex-direction: column;
        margin-top: -3rem;
    }
    .my-name {
        display: none;
    }
    .social-icons {
        width: 100%;
    }
    .contact-btn {
        width: 55%;
    }
}